h1{
  color:#00ffff;
  margin-left:30px;
}
h2{
    color: #ffe4c4

}
p{
    color: #b22222;
    font-size: large;
    font-weight:bold
 }
 p,h2{
  text-align: center;
}
body{
    background-color: #808080;
}
b{
    color: #b22222;
}



.header{
    background-color:#beae99;
    
    display:flex;
    justify-content: space-between;

}
.menu{
     background-color:#bc8f8f ;
     margin-top: 30px;
     
     margin-right: 30px;
     
}

.menu a{
    margin-left: 20px;
}
a:link{
    color: beige;
}
a:visited{
    color: beige;
}
    

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    color: chartreuse;


}
.item {
    position:relative

}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
  opacity:1;
}
.item:hover img{
  opacity: 33%;
}

.footer{
    display:flex;
    justify-content: flex-end;
}